<div id="pageContainer">
  <div class ="inputContainer">
    <h1>Login </h1>
    <form [formGroup] ="loginForm" (ngSubmit)="onSubmit()">
      <fieldset>
        <label for = "email">Email: <input type="email" id = "email" formControlName="email"></label>
      </fieldset>
      <fieldset>
        <label for = "password">Password: <input type="password" id = "password" formControlName="password"></label>
        <span id = "errorBlock" class="text-danger">
          ! Your Password or Email is incorrect
        </span>
      </fieldset>
      <input type="submit" value="Login">
    </form>
  </div>
  <div id = "createContainer">
    <h5>New to Car Pooling?</h5>
    <a routerLink="/create-account" id = "createAccountBut">Create Car Pooling Account</a>
  </div>
</div>
