<div class="container">
  <div style="text-align:center">
  </div>
  <div style="background-color:yellow;color:black;padding:20px;">
    <h2>Liberty-it Car pooling App</h2>
    <div class="navbar">
      <a routerLink="/home">Home</a>
      <a routerLink="/signIn">Login</a>
      <a routerLink="/account">Create Account</a>
      <a routerLink="/pSummary">Passenger Summary</a>
      <a routerLink="/driver">Driver Details</a>
      <a routerLink="/bookings">Bookings</a>
      <a routerLink="/tripDetails">Trip Details</a>
      <a routerLink="/pResults">Passenger Results</a>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
