<div class="container">
  <div style="text-align:center">
  </div>

<div id ="header">
  <img src="../../assets/images/Liberty-IT-Logo-Trans.png" alt="Liberty-IT-Logo">
  <h2>Car Pooling</h2>
  <div class="navbar">
    <a routerLink="/home">Home</a>
    <a routerLink="/signIn">Login</a>
    <a routerLink="/account">Create Account</a>
    <a routerLink="/pSummary">Passenger Summary</a>
    <a routerLink="/driver">Driver Details</a>
    <a routerLink="/bookings">Bookings</a>
    <a routerLink="/tripDetails">Trip Details</a>
    <a routerLink="/pResults">Passenger Results</a>
  </div>
</div>
<div id = "mainDisplay">
  <router-outlet></router-outlet>
</div>


