h2{
  padding: 10px;
  display: inline;

}
img{
  height: 70%;
}

#header{
  width: 100%;
  padding-left: 20px;
  padding-top: 20px;
  height: 20%;
  background-color: #ffd000;
  font-size: 1em;
}
#mainDisplay{
  height: 80%;
  width: 100%;
}
/* unvisited link */
a:link {
  color: #343741;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #343741;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #a0a0a0;
  text-decoration: blink;
}

/* selected link */
a:active {
  color: #343741;
  text-decoration: underline;
}
a{
  padding: 0px 10px;
  transition: all 0.3s ease 0s;

}
.navbar{
  justify-content: flex-end;
}
