<div id ="header">
  <img src="../../assets/images/Liberty-IT-Logo-Trans.png" alt="Liberty-IT-Logo">
  <h2>Car Pooling</h2>
  <div class="navbar">
    <a *ngIf="isLoggedIn()" id = "homeBut" routerLink="/home">Home</a>
    <a *ngIf="isLoggedIn()" routerLink="/edit-account">Edit Account</a>
    <a *ngIf="isLoggedIn()" routerLink="/view-cars">Manage Cars</a>
    <a *ngIf="isLoggedIn()" routerLink="/login">Sign Out</a>
  </div>
</div>
<div id = "mainDisplay">
  <router-outlet></router-outlet>
</div>


