<div id="pageContainer" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div class ="inputContainer">
    <h1>Trip Details</h1>
    <div *ngIf="currentlyActiveCar && driverStatus">
      <h5>Current car: {{currentlyActiveCar.registration}} <button id = "changeBut" routerLink="/view-cars">Change Car</button></h5>
    </div>
    <form [formGroup] ="tripForm" (ngSubmit)="onSubmit()">
      <fieldset>
        <label for = "tripPostcode">Postcode: <input maxlength = "8" type="text" id = "tripPostcode" formControlName="tripPostcode"></label>
        <span class="text-danger" *ngIf="(submitted || tripForm.get('tripPostcode')?.touched) && errorPresent('tripPostcode')">
          ! Please enter a valid Postcode
        </span>
      </fieldset>

      <fieldset>
        <label id ="tripTown" for = "tripTown">Preferred Pick Up Point<div class="col-12 table-responsive">
          <div id="selectContainer">
            <ng-select id="selectedTown" [clearable]="false"
                       [items]="towns" appendTo="body" formControlName="tripPickUp" placeholder="Select Town">
            </ng-select>
            <button type="button" id="addTownBut" (click)="onChange()">Add Town</button>
          </div>
          <table class="table">
            <thead *ngIf="townsSelected.length > 0">
            <td>Towns Selected</td>
            </thead>
            <ng-container *ngFor="let town of townsSelected">
              <tr class="active-row">
                <td>{{town}} <button type="button" id="removeTownBut" (click)="onRemove()">Remove Town</button></td>
              </tr>
            </ng-container>
          </table>
          <span class="text-danger" *ngIf="(submitted || tripForm.get('tripTown')?.touched) && errorPresent('tripTown')">
          At least one pick up point is required
        </span></div></label>
      </fieldset>

      <fieldset>
        <label for = "tripDestination">Destination:<select ngModel="Belfast Office" name = "tripDestination" id = "tripDestination" formControlName="tripDestination">
          <option value="Belfast Office" >Belfast Office</option>
          <option value="Dublin Office">Dublin Office</option>
        </select></label>
        <span class="text-danger" *ngIf="(submitted || tripForm.get('tripDestination')?.touched) && errorPresent('tripDestination')">
          ! Please select a Destination
        </span>
      </fieldset>

      <fieldset>
        <label for = "tripDate">Select Departure Date:<input type="date" min = {{getCurrentDate()}} id = "tripDate" (change) ="checkTimeValid()" formControlName="tripDate"></label>
        <span class="text-danger" *ngIf="(submitted || tripForm.get('tripDate')?.touched) && errorPresent('tripDate')">
          ! Please select a Date
        </span>
      </fieldset>

      <fieldset>
        <label for = "tripDate">Select Departure Time:<input type="time" id = "tripTime" (change) ="checkTimeValid()" formControlName="tripTime"></label>
        <span class="text-danger" *ngIf="(submitted || tripForm.get('tripTime')?.touched) && (tripForm.get('tripTime')?.errors || !timeValid)">
          ! Please select a Time
        </span>
      </fieldset>

      <input type="submit" value="Submit">
    </form>
  </div>
</div>
