<div class="container">
  <div class ="inputContainer">
    <h1>Trip Details</h1>
    <form [formGroup] ="tripForm" (ngSubmit)="onSubmit()">
      <fieldset>
        <label for = "tripPostcode">Postcode: <input maxlength="8" type="text" id = "tripPostcode" formControlName="tripPostcode"></label>
<!--        <span class="error-msg" *ngIf="getTripPostcode && getTripPostcode.invalid">-->
<!--      The Postcode is required-->
<!--    </span>-->
<!--        <span class="text-danger" *ngIf="(registerTripControl.tripPostcode.touched || submitted) && registerTripControl.tripPostcode.errors?.required">-->
<!--      The Flight ID is required-->
<!--    </span>-->
        <span class="error-msg" *ngIf="tripForm.controls.tripPostcode.errors">
      The Flight ID is required
    </span>
      </fieldset>
      <label for="destination">Destination:</label>
      <input type="text" id="destination" formControlName="tripDestination">
      <label for="datePicker">Select date: </label>
      <input type="date" id="datePicker" formControlName="tripDate">
      <label for="timePicker">Select time: </label>
      <input type="time" id="timePicker" formControlName="tripTime">
      <input type="submit"  [disabled]="!tripForm.valid" value="Submit">
    </form>
  </div>
</div>
