<div id="pageCon" class="scroll-object" class="scroll-div">
  <div class ="inputContainer" >
    <h1>Driver Details</h1>
    <form [formGroup] ="driverForm" (ngSubmit)="onSubmit()">

        <label class="driverForm" for = "driverCarMake">Car Make:
        <select id = "driverCarMake" type = "dropdown">
          <option value="driverCarMake" disabled selected> Select Car Make</option>
          <option value="ford"> ford </option>
          <option value="renault"> renault </option>
        </select>
        </label>

      <fieldset>
        <label for = "driverReg">Registration: <input [minlength]="2" [maxLength]="7" type="text" id = "driverReg" formControlName="driverReg">
        <span class="text-danger" *ngIf="(submitted || driverForm.get('driverReg')?.touched) && errorPresent('driverReg')">
          The Registration is required
        </span>
        </label>
      </fieldset>

      <fieldset>
        <label for = "driverNoOfPassengers">No of Passengers: <input type="number" min="1" id = "driverNoOfPassengers" formControlName="driverNoOfPassengers"></label>
        <span class="text-danger" *ngIf="(submitted || driverForm.get('driverNoOfPassengers')?.touched) && errorPresent('driverNoOfPassengers')">
          The No of Passengers is required
        </span>
      </fieldset>

      <fieldset>
        <div>
          <label class="driverForm">Preferred Method of Contact:</label>
        </div>
        <div class="radio-toolbar">
          <input type="radio" id="email" name="preferredContact" value="Email" (click)="isEmailCheck()">
          <label for="email">Email</label>
          <input type="radio" id="phone" name="preferredContact" value="Phone" (click)="isPhoneCheck()">
          <label for="phone">Phone</label>
        </div>
        <div *ngIf="isEmail">

        </div>
        <div *ngIf="isPhone">

        </div>
      </fieldset>

      <fieldset>
        <label class="driverForm" id = "driverSmokingOption" for = "driverSmokingOption">Smoking Option: </label>
        <div class="radio-toolbar">
          <input type="radio" id="yes" name="driverSmokingOption" value="Yes" >
          <label for="yes">Yes</label>
          <input type="radio" id="no" name="driverSmokingOption" value="No">
          <label for="no">No</label>
        </div>
      </fieldset>

      <fieldset>
        <label class="driverForm" id = "driverAccessibility" for = "driverAccessibility">Smoking Option: </label>
        <div class="radio-toolbar">
          <input type="radio" id="yesAccess" name="driverAccessibility" value="Yes" >
          <label for="yesAccess">Yes</label>
          <input type="radio" id="noAccess" name="driverAccessibility" value="No">
          <label for="noAccess">No</label>
        </div>
      </fieldset>

      <fieldset>
        <label id ="driverPickUp"for = "driverPickUp">Preferred Pick Up Point</label>
        <div class="col-12 table-responsive">
          <table class="table">
            <thead>
            <td>Address</td>
            <td>Postcode</td>
            </thead>
            <tbody>
            <tr *ngFor="let row of rows; let i = index">
              <td><input [(ngModel)]="row.key" type="text" name="address" (keyup)="checkAndAddRow(i)"></td>
              <td><input [(ngModel)]="row.value" type="text" name="postcode" (keyup)="checkAndAddRow(i)"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </fieldset>

      <div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2311.594998313866!2d-5.930261383973583!3d54.593510088262846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486108f8e1ea0df7%3A0x2705bafb24abbe53!2sLiberty%20IT!5e0!3m2!1sen!2suk!4v1658489241721!5m2!1sen!2suk"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <input type="submit" value="Register Car">
    </form>
  </div>
</div>
