<div class="container">
  <div class ="inputContainer">
    <h1>Driver Details</h1>
    <form [formGroup] ="driverForm" (ngSubmit)="onSubmit()">
      <fieldset>
        <label class="driverForm" for = "driverCarMake">Car Make: </label>
        <select id = "driverCarMake" type = "dropdown">
          <option value="driverCarMake"> Select Car Make</option>
          <option value="ford"> ford </option>
          <option value="renault"> renault </option>
        </select>

      </fieldset>
      <fieldset>
        <label for = "driverReg">Registration: <input [minlength]="2" [maxLength]="7" type="text" id = "driverReg" formControlName="driverReg"></label>
        <span class="text-danger" *ngIf="(submitted || driverForm.get('driverReg')?.touched) && driverForm.get('driverReg')?.errors">
          The Registration is required
        </span>
      </fieldset>
      <fieldset>
        <label for = "driverNoOfPassengers">No of Passengers: <input type="number" min="1" id = "driverNoOfPassengers" formControlName="driverNoOfPassengers"></label>
        <span class="text-danger" *ngIf="(submitted || driverForm.get('driverNoOfPassengers')?.touched) && driverForm.get('driverNoOfPassengers')?.errors">
          The No of Passengers is required
        </span>
      </fieldset>

      <fieldset>
        <div>
          <label>Preferred Method of Contact: </label>
            <button class="btn btn-primary" (click)="isEmailCheck()">Email</button>
            <button class="btn btn-primary" (click)="isPhoneCheck()">Phone</button>
        </div>
        <div *ngIf="isEmail">
          <label>Email Address: <input type="email"></label>
        </div>
        <div *ngIf="isPhone">
          <label>Phone Number: <input type="number"></label>
        </div>
      </fieldset>

      <label class="driverForm" for = "driverSmokingOption">Smoking Option: </label>
      <select id = "driverSmokingOption">
        <option value="driverSmokingOption"> Select Smoking Option</option>
        <option value="yes"> Yes </option>
        <option value="no"> No </option>
      </select>

      <fieldset>
        <label for="driverAccessibility">Accessibility: <input type="text" id="driverAccessibility" formControlName="driverAccessibility"></label>
         <!---may need to change from text type--->
      </fieldset>
      <fieldset>
        <label for = "driverPickUp">Preferred Pick Up Point: <input type="text" id = "driverPickUp" formControlName="driverPickUp" placeholder="Enter Your Preferred Point of Pick up"></label>
        <span class="text-danger" *ngIf="(submitted || driverForm.get('driverPickUp')?.touched) && driverForm.get('driverPickUp')?.errors">
          The Pick Up Place is required
        </span>
      </fieldset>

      <input type="submit" value="Register Car">
    </form>
  </div>
</div>
