<div id="pageCon" class="scroll-object" class="scroll-div">
  <div class ="inputContainer" >
    <h1>Driver Details</h1>
    <form [formGroup] ="driverForm" (ngSubmit)="onSubmit()">
        <label class="driverForm" for = "driverCarMake">
          Car Make:
        <select id = "driverCarMake" type = "dropdown">
          <option value="driverCarMake" disabled selected> Select Car Make</option>
          <option value="ford"> ford </option>
          <option value="renault"> renault </option>
        </select>
        </label>

      <fieldset>
        <label for = "driverReg">Registration: <input [minlength]="2" [maxLength]="7" type="text" id = "driverReg" formControlName="driverReg">
        <span class="text-danger" *ngIf="(submitted || driverForm.get('driverReg')?.touched) && errorPresent('driverReg')">
          The Registration is required
        </span>
        </label>
      </fieldset>

      <fieldset>
        <label for = "driverNoOfPassengers">No of Passengers: <input type="number" min="1" id = "driverNoOfPassengers" formControlName="driverNoOfPassengers"></label>
        <span class="text-danger" *ngIf="(submitted || driverForm.get('driverNoOfPassengers')?.touched) && errorPresent('driverNoOfPassengers')">
          The No of Passengers is required
        </span>
      </fieldset>

      <fieldset>
        <div>
          <label>Preferred Method of Contact:</label>
        </div>
        <div class="radio-toolbar">
          <input type="radio" id="email" name="preferredContact" value="Email" (click)="isEmailCheck()">
          <label for="email">Email</label>
          <input type="radio" id="phone" name="preferredContact" value="Phone" (click)="isPhoneCheck()">
          <label for="phone">Phone</label>
        </div>
        <div *ngIf="isEmail">

        </div>
        <div *ngIf="isPhone">

        </div>
      </fieldset>

      <label class="driverForm" for = "driverSmokingOption">
        Smoking Option:
      <select id = "driverSmokingOption">
        <option value="driverSmokingOption" disabled selected> Select Smoking Option</option>
        <option value="yes"> Yes </option>
        <option value="no"> No </option>
      </select>
      </label>
      <fieldset>
        <label for="driverAccessibility" id="driverAccessibility" >Is your car accessible?
          <select>
            <option value="driverAccessibility" disabled selected>Yes/No</option>
            <option value="yes"> Yes </option>
            <option value="no"> No </option>
          </select>
        </label>
      </fieldset>
      <fieldset>
        <label for = "driverPickUp">Preferred Pick Up Point: <input type="text" id = "driverPickUp" formControlName="driverPickUp" placeholder="Enter Your Preferred Point of Pick up">
        <span class="text-danger" *ngIf="(submitted || driverForm.get('driverPickUp')?.touched) && driverForm.get('driverPickUp')?.errors">
          The pick up place is required
        </span>
        </label>
      </fieldset>
      <input type="submit" value="Register Car">
    </form>
  </div>
</div>
