.card-header{
  font-size: 25px;

}

.content-table {
  border-collapse: collapse;
  /*margin: 100px 450px;*/
  margin: 0 auto;
  font-size: 1.1em;
  min-width: 800px;
  border-radius: 5px 5px 0 0;
  overflow:hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.content-table th{
  padding: 12px;
}
.content-table td{
  padding: 12px 15px;
}
.content-table tbody tr{
  border-bottom: 1px solid #dddddd;
}
.content-table thead tr{
  text-align: left;
  font-weight: bold;
  background-color: #ffd000;
}
.content-table tbody tr:nth-of-type(even){
  background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type{
  border-bottom: 4px solid #ffd000;
}
.content-table tbody tr:active {
  font-weight: bold;
  color: #424141;
}
.tableHeader{
  text-align: center;
  font-weight: bold;
  background-color: #ffd000;
}
.button {
  background: #04AA6D;
  border: 1px solid #04AA6D;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button:hover,
.button:active {
  background-color: initial;
  background-position: 0 0;
  color: #04AA6D;
}

.button:active {
  opacity: .5;
}
.button1 {
  background: #ff0000;
  border: 1px solid #04AA6D;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 50px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button:hover,
.button:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff0000;
}

.button1:active {
  opacity: .5;
}
.button1:hover,
.button1:active {
  background-color: initial;
  background-position: 0 0;
  color: #04AA6D;
}

.button1:active {
  opacity: .5;
}

.alertDiv{
  text-align: center;
  width: 50%;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1em;
  padding: 1%;
  border: 2pt #f44336 solid;
  background-color: white; /* Red */
}
.table-responsive{
  background-color: #F5F5F5;
}
h4{
  margin-top: 1%;
  margin-bottom: 1%;
}
#backBut {
  background: #ff0000;
  border: 1px solid #04AA6D;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 50px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

#backBut:active {
  opacity: .5;
}
#backBut:hover,
#backBut:active {
  background: #a80404;
  color: #FFFFFF;
}

#backBut:active {
  opacity: .5;
}
#homeBut {
  margin-top: 2%;
  margin-bottom: 2%;
  background: #04AA6D;
  border: 1px solid #04AA6D;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 50px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

#homeBut:hover,
#homeBut:active {
  background-color: initial;
  background-position: 0 0;
  color: #04AA6D;
}

#homeBut:active {
  opacity: .5;
}
#homeBut:hover,
#homeBut:active {
  background-color: initial;
  background-position: 0 0;
  color: #04AA6D;
}
