<div class = test1>
  <h1>Thank you for your order</h1>
  <p>View your order below</p>
</div>

<div class = test1>
  <p>Order details</p>
</div>
<div class = "test2">
  <div class='table-responsive'>
    <table class='content-table' *ngIf="results.length">
      <thead>
      <tr>
        <th>Summary Details</th>
      </tr>
      </thead>
      <tbody>
      <tr class= "active-row" *ngFor="let result of results" >

      <tr>

        <th>Car Make</th>
        <th>Registration</th>
        <th>No. Seats</th>
        <th>Preferred Contact</th>
        <th>Accessibility</th>
        <th>Preferred PickUp</th>


      </tr>

      <tbody>

      <tr *ngFor="let result of results">
        <td>{{result.make}}</td>
        <td>{{result.registration}}</td>
        <td>{{result.numOfSeats}}</td>
        <td>{{result.preferredContact}}</td>
        <td>{{result.accessibility}}</td>
        <td>{{result.preferredPickUp}}</td>




      </tbody>
      <td>
        <button class="button1"  routerLink="/login" style="float: left;"> Sign out </button>
        <button  class="button" routerLink="/home" style="float: right;"> Home </button>
      </td>
    </table>
  </div>
</div>


