<div class = test1>
  <h1>Confirm Order</h1>
  <p>View order below</p>
</div>

<div class = test1>
  <p>Order details</p>
</div>
<div class = "test2">
  <div class='table-responsive'>
    <table class='content-table'>
      <tbody>
      <tr class= "active-row" *ngIf="driverTripSelected" >
        <tr class="tableHeader">
          <th>Full name</th>
          <th>Car Make</th>
          <th>Registration</th>
          <th>Date</th>
          <th>Destination</th>
          <th>Postcode</th>
          <th>Time</th>
          <th>Town</th>
          <th>Accessibility</th>
        </tr>
      <tbody>
        <td>{{(currentDriver.firstName) + " " + (currentDriver.lastName)}}</td>
        <td>{{currentCar.make}}</td>
        <td>{{currentCar.registration}}</td>
        <td>{{driverTripSelected.date}}</td>
        <td>{{driverTripSelected.destination}}</td>
        <td>{{driverTripSelected.postcode}}</td>
        <td>{{driverTripSelected.time}}</td>
        <td>{{driverTripSelected.town}}</td>
        <td>{{currentCar.accessibility}}</td>
      </tbody>
      <tr>
        <td><button class="button1" routerLink="/passenger-results" style="float: left;">Back</button></td>
        <td colspan="7"></td>
        <td><button  class="button" routerLink="/summary" style="float: right;">Confirm</button></td>
      </tr>
    </table>
  </div>
</div>


