<div id="pageContainer">
  <div class ="inputContainer">
    <h1>Create Account</h1>
    <form [formGroup] ="accountForm" (ngSubmit)="onSubmit()">
      <fieldset>
        <label for = "fname">First name: <input type="text" id = "fname" formControlName="fname"></label>
        <span class="text-danger" *ngIf="(submitted || accountForm.get('fname')?.touched) && errorPresent('fname')">
          ! Please enter a valid First Name
        </span>
      </fieldset>
      <fieldset>
        <label for = "lname">Last name: <input type="text" id = "lname" formControlName="lname"></label>
        <span class="text-danger" *ngIf="(submitted || accountForm.get('lname')?.touched) && errorPresent('lname')">
          ! Please enter a valid Last Name
        </span>
      </fieldset>
      <fieldset>
        <label for = "email">Email: <input type="email" id = "email" formControlName="email"></label>
        <span class="text-danger" *ngIf="(submitted || accountForm.get('email')?.touched) && errorPresent('email')">
          ! Please enter a valid Email
        </span>
      </fieldset>
      <fieldset>
        <label for = "phoneNum">Phone Number: <input type="text" id = "phoneNum" formControlName="phoneNum"></label>
        <span class="text-danger" *ngIf="(submitted || accountForm.get('phoneNum')?.touched) && errorPresent('phoneNum')">
          ! Please enter a valid Phone Number
        </span>
      </fieldset>
      <fieldset>
        <label for = "postcode">Postcode: <input type="text" id = "postcode" formControlName="postcode"></label>
        <span class="text-danger" *ngIf="(submitted || accountForm.get('postcode')?.touched) && errorPresent('postcode')">
          ! Please enter a valid Postcode
        </span>
      </fieldset>
      <fieldset>
        <label for = "password">Password: <input type="password" id = "password" formControlName="password"></label>
        <span class="text-danger" *ngIf="(submitted || accountForm.get('password')?.touched) && errorPresent('password')">
          ! Must contain, minimum eight characters, at least one uppercase letter, at least one lowercase letter, at least one number and at least one special character
        </span>
      </fieldset>
      <fieldset>
        <label for = "confirmPassword">Confirm Password: <input type="password" id = "confirmPassword" formControlName="confirmPassword"></label>
        <span class="text-danger" *ngIf="(submitted || accountForm.get('confirmPassword')?.touched) && (errorPresent('confirmPassword') || !passwordsMatch())">
          ! Passwords do not match
        </span>
      </fieldset>
      <input type="submit" value="Create Account">
    </form>
  </div>
  <div id = "createContainer">
    <h5>Already have an account?</h5>
    <a routerLink="signIn" id = "loginBut">Back to Login</a>
  </div>
</div>
