<html>
<body>
<h2>Create Account</h2>
<form action="/action_page.php">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value=""><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value=""><br><br>
  <label for="lname">E-mail:</label><br>
  <input type="text" id="Email" name="E-mail" value=""><br><br>
  <label for="phone">Phone Number :</label><br>
  <input type="text" id="phone" name="phone" value=""><br>
  <label for="pname">Post code:</label><br>
  <input type="tet" id="pname" name="pname" value=""><br><br>
  <label for="password">Pasword:</label><br>
  <input type="text" id="password" name="password" value=""><br><br>
  <label for="cpassword">Confirm Pasword:</label><br>
  <input type="text" id="cpassword" name="cpassword" value=""><br><br>
</form>
<p>Choose additional driving condition:</p>
<form>
  <input type="radio" id="html" name="fav_language" value="HTML">
  <label for="html">Accessibility space</label><br>
  <input type="radio" id="css" name="fav_language" value="CSS">
  <label for="css">Smoking zone</label><br>
</form>
<input type="submit" value="Submit">
</body>
</html>
