<!--<div id="pageContainer">-->
<!--  <div class ="inputContainer">-->
<!--    <h1>Trip Details</h1>-->
<!--    <form [formGroup] ="accountForm" (ngSubmit)="onSubmit()">-->
<!--      <fieldset>-->
<!--        <label for = "fname">Postcode: <input type="text" id = "fname" formControlName="fname"></label>-->
<!--        <span class="text-danger" *ngIf="(submitted || accountForm.get('tripPostcode')?.touched) && errorPresent('tripPostcode')">-->
<!--          ! Please enter a valid Postcode-->
<!--        </span>-->
<!--      </fieldset>-->
<!--      <fieldset>-->
<!--        <label for = "tripDestination">Destination:<select ngModel="Belfast Office" name = "tripDestination" id = "tripDestination" formControlName="tripDestination">-->
<!--          <option value="Belfast Office" >Belfast Office</option>-->
<!--          <option value="Dublin Office">Dublin Office</option>-->
<!--        </select></label>-->
<!--        <span class="text-danger" *ngIf="(submitted || accountForm.get('tripDestination')?.touched) && errorPresent('tripDestination')">-->
<!--          ! Please select a Destination-->
<!--        </span>-->
<!--      </fieldset>-->
<!--      <fieldset>-->
<!--        <label for = "tripDate">Select Date:<input type="date" min = {{getCurrentDate()}} id = "tripDate" formControlName="tripDate"></label>-->
<!--        <span class="text-danger" *ngIf="(submitted || accountForm.get('tripDate')?.touched) && errorPresent('tripDate')">-->
<!--          ! Please select a Date-->
<!--        </span>-->
<!--      </fieldset>-->
<!--      <fieldset>-->
<!--        <label for = "tripDate">Select Time:<input type="time" id = "tripTime"  formControlName="tripTime"></label>-->
<!--        <span class="text-danger" *ngIf="(submitted || accountForm.get('tripTime')?.touched) && accountForm.get('tripTime')?.errors">-->
<!--          ! Please select a Time-->
<!--        </span>-->
<!--      </fieldset>-->
<!--      <input type="submit" value="Submit">-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->
