<!--<link rel="stylesheet" type="text/css" href="passenger-summary.component.css">-->
<div class='card'>
  <div class='card-header' style="text-align:center">
    {{pageTitle}}    <h2>Review Details:</h2>
  </div>
</div>
<div class = "test2">
  <div class='table-responsive'>
    <table class='content-table' *ngIf="summary1.length">
      <thead>
      <tr>
        <th>Summary Details</th>
      </tr>
      </thead>
      <tbody>
      <tr class= "active-row" *ngFor="let sum of summary1" >
        <td>
          {{ sum.name}}

        </td>
      </tr>
      <td>
       <button  routerLink="/passenger-results" style="float: left;"> Back </button>

        <button  routerLink="/home" style="float: right;"> Home </button>
      </td>


      </tbody>
    </table>
  </div>
</div>
