<!--<link rel="stylesheet" type="text/css" href="passenger-summary.component.css">-->
<!--<div class='card'>-->
<!--  <div class='card-header' style="text-align:center">-->
<!--     <h2>Review Details:</h2>-->
<!--  </div>-->
<!--</div>-->
<!--<div class = "test2">-->
<!--  <div class='table-responsive'>-->
<!--    <table class='content-table' *ngIf="trips.length">-->
<!--      <tr>-->

<!--        <th>First Name</th>-->
<!--        <th>Last Name</th>-->
<!--        <th>E-mail</th>-->
<!--        <th>Phone Number</th>-->
<!--        <th>Post Code</th>-->


<!--      </tr>-->

<!--      <tbody>-->

<!--      <tr *ngFor="let trip of trips">-->
<!--        <td>{{trip.firstName}}</td>-->
<!--        <td>{{trip.lastName}}</td>-->
<!--        <td>{{trip.email}}</td>-->
<!--        <td>{{trip.phoneNumber}}</td>-->
<!--        <td>{{trip.postcode}}</td>-->

<!--      </tr>-->
<!--      <td>-->
<!--       <button  routerLink="/passenger-results" style="float: left;"> Back </button>-->
<!--        <button  routerLink="/home" style="float: right;"> Home </button>-->
<!--      </td>-->
<!--      </tbody>-->
<!--    </table>-->
<!--  </div>-->
<!--</div>-->
<!--<link rel="stylesheet" type="text/css" href="passenger-summary.component.css">-->
<div class='card'>
  <div class='card-header' style="text-align:center">
    <h2>Review Details:</h2>
  </div>
</div>
<div class = "test2">
  <div class='table-responsive'>
    <!--    *ngIf="trips.length">-->
    <table class='content-table'>
      <tr>
        <th>First Name</th>
        <th>Date</th>
        <th>Destination</th>
        <th>Post Code</th>
        <th>Time</th>
        <th>Town</th>
      </tr>
      <tbody>
      <tr>
        <td>{{tripService.currentTrip.car}}</td>
        <td>{{tripService.currentTrip.date}}</td>
        <td>{{tripService.currentTrip.destination}}</td>
        <td>{{tripService.currentTrip.postcode}}</td>
        <td>{{tripService.currentTrip.time}}</td>
        <td>{{tripService.currentTrip.town}}</td>
      </tr>
      <td>
        <button  routerLink="/passenger-results" style="float: left;"> Back </button>
        <button  routerLink="/home" style="float: right;"> Home </button>
      </td>
      </tbody>
    </table>
  </div>
</div>
