
<link rel="stylesheet" type="text/css" href="passenger-summary.component.css">
<div class='card'>
  <div class='card-header' style="text-align:center">
    <h2>Summary:</h2>
  </div>
</div>
<div class = "test2">
  <div class='table-responsive'>
    <!--    *ngIf="trips.length">-->
    <table class='content-table'>
      <tr>
        <th>Driver</th>
        <th>Car Make</th>
        <th>Smoking Option</th>
        <th>Date</th>
        <th>Destination</th>
        <th>Post Code</th>
        <th>Time</th>
        <th>Departure</th>
        <th>Accessibility</th>
      </tr>
      <tbody>
      <tr>
        <td>{{(currentDriver.firstName) + " " + (currentDriver.lastName)}}</td>
        <td>{{currentCar.make}}</td>
        <td>{{currentCar.smokingOption}}</td>
        <td>{{tripService.currentTrip.date}}</td>
        <td>{{tripService.currentTrip.destination}}</td>
        <td>{{tripService.currentTrip.postcode}}</td>
        <td>{{tripService.currentTrip.time}}</td>
        <td>{{tripService.currentTrip.town}}</td>
        <td>{{currentCar.accessibility}}</td>
      </tr>
      <td>
        <button class="backBut" routerLink="/login" style="float: left;"> Sign out </button>
<!--        <button class="button" (click)="addTrip(driver)" routerLink="/confirmation" style="float: right;"> Confirm</button>-->
        <button  class="confirmBut"routerLink="/home" style="float: right;"> Home </button>
      </td>
      </tbody>
    </table>
  </div>
</div>
