
<link rel="stylesheet" type="text/css" href="summary.component.css">
<div class='card'>
  <div class='card-header' style="text-align:center">
    <h2>Review Details:</h2>
  </div>
</div>
<div class = "test2">
  <div class='table-responsive'>
    <table class='content-table'>
      <tr>
        <th>Driver</th>
        <th>Car Make</th>
        <th>Smoking Option</th>
        <th>Date</th>
        <th>Destination</th>
        <th>Post Code</th>
        <th>Time</th>
        <th>Departure</th>
        <th>Accessibility</th>
      </tr>
      <tbody>
      <tr>
        <td>{{(currentDriver.firstName) + " " + (currentDriver.lastName)}}</td>
        <td>{{currentCar.make}}</td>
        <td>{{currentCar.smokingOption}}</td>
        <td>{{driverTripSelected.date}}</td>
        <td>{{driverTripSelected.destination}}</td>
        <td>{{driverTripSelected.postcode}}</td>
        <td>{{driverTripSelected.time}}</td>
        <td>{{driverTripSelected.town}}</td>
        <td>{{currentCar.accessibility}}</td>
      </tr>
      <td>
        <button class="backBut" routerLink="/login" style="float: left;"> Sign out </button>
        <button  class="confirmBut" routerLink="/home" style="float: right;"> Home </button>
      </td>
      </tbody>
    </table>
  </div>
</div>
