
<link rel="stylesheet" type="text/css" href="summary.component.css">
<div class='card'>
  <div class='card-header' style="text-align:center">
    <h2>Your order has been successful</h2>
    <h3>Thank you:</h3>
  </div>
</div>
<div class = "test2">
  <div class='table-responsive'>
    <table class='content-table'>
      <tr class="tableHeader">
        <th>Driver</th>
        <th>Car Make</th>
<!--        <th>Smoking Option</th>-->
        <th>Date</th>
        <th>Destination</th>
        <th>Time</th>
        <th>Departure</th>
        <th>Preferred contact</th>
        <th>Phone number</th>
        <th>Email</th>
      </tr>
      <tbody>
      <tr>
        <td>{{(currentDriver.firstName) + " " + (currentDriver.lastName)}}</td>
        <td>{{currentCar.make}}</td>
        <td>{{driverTripSelected.date}}</td>
        <td>{{driverTripSelected.destination}}</td>
        <td>{{driverTripSelected.time}}</td>
        <td>{{driverTripSelected.town}}</td>
        <td>{{currentCar.preferredContact}}</td>
        <td>{{currentDriver.phoneNumber}}</td>
        <td>{{currentDriver.email}}</td>
      </tr>
      <tr>
        <td><button class="backBut" routerLink="/login" style="float: left;"> Sign out </button></td>
        <td colspan="7"></td>
        <td><button  class="confirmBut" routerLink="/home" style="float: right;"> Home </button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
