.content-table {
  border-collapse: collapse;
  /*margin: 100px 450px;*/
  margin: 0 auto;
  font-size: 1.1em;
  min-width: 800px;
  border-radius: 5px 5px 0 0;
  overflow:hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.content-table th{
  padding: 8px;
}
.content-table td{
  padding: 12px 15px;
}
.content-table tbody tr{
  border-bottom: 1px solid #dddddd;
  /*text-align: center;*/
}
.tableHeader{
  text-align: center;
  font-weight: bold;
  background-color: #ffd000;
}
.content-table tbody tr:nth-of-type(even){
  background-color: #f3f3f3;
}
.content-table tbody tr:active{
  font-weight: bold;
  color: blue;

}

.test2 {
  text-align: center;
}

.buttonRow td{
  padding: 0;
  border: 0;
}
#toggleBut {
  margin-top: 2%;
  margin-bottom: 2%;
  float: right;
  background: #04AA6D;
  border: 1px solid #04AA6D;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 50px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

#toggleBut:hover,
#toggleBut:active {
  background-color: initial;
  background-position: 0 0;
  color: #04AA6D;
}

#toggleBut:active {
  opacity: .5;
}
#toggleBut:hover,
#toggleBut:active {
  background-color: initial;
  background-position: 0 0;
  color: #04AA6D;
}
#backBut {
  margin-top: 2%;
  margin-bottom: 2%;
  float: left;
  background: #ff0000;
  border: 1px solid #04AA6D;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 50px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

#backBut:active {
  opacity: .5;
}
#backBut:hover,
#backBut:active {
  background: #a80404;
  color: #FFFFFF;
}

#backBut:active {
  opacity: .5;
}
