<html>
<body>
<div class =border>
  <div class="city">
    <a href="/driver"><h2 >Driver</h2></a>
    <a href="/driver"> <img src="../../assets/images/car-driver.png" alt="car-driver"></a>

  </div>
  <div class="city">
    <a href="/pResults"><h2>Passenger</h2></a>
    <a href="/pResults"> <img src="../../assets/images/car-logo.png" alt="car-logo"></a>
  </div>
  <div class="city">
    <a href="/bookings"><h2>summary</h2></a>
    <a href="/bookings"> <img src="../../assets/images/car-summary.png" alt="car-summary"></a>
  </div>
</div>
</body>
</html>





<!--<html>-->
<!--<body>-->
<!--<h2 class="city">Driver</h2>-->
<!--<p>Drivers details.</p>-->
<!--<h2 class="city">Passenger</h2>-->
<!--<p>Passenger details.</p>-->
<!--<h2 class="city">summary</h2>-->
<!--<p>Summary details.</p>-->
<!--</body>-->
<!--</html>-->
<!--<input type="submit" value="Submit">-->

<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->
