
<div class =border id = pageWidth>
  <div class = "headerDiv">
    <h1 id = "nameBanner"></h1>
  </div>
  <div class="city" routerLink="/trip-details" (click)="setDriverStatus('Driver')">
    <a routerLink="/trip-details" (click)="setDriverStatus('Driver')"><h2 >Driver</h2></a>
    <a routerLink="/trip-details" (click)="setDriverStatus('Driver')"> <img src="../../assets/images/car-driver.png" alt="car-driver"></a>
  </div>
  <div class="city" routerLink="/trip-details" (click)="setDriverStatus('Passenger')">
    <a routerLink="/trip-details" (click)="setDriverStatus('Passenger')"><h2>Passenger</h2></a>
    <a routerLink="/trip-details" (click)="setDriverStatus('Passenger')"> <img src="../../assets/images/car-logo.png" alt="car-logo"></a>
  </div>
  <div class="city" routerLink="/bookings">
    <a routerLink="/bookings"><h2>Summary</h2></a>
    <a routerLink="/bookings"> <img src="../../assets/images/car-summary.png" alt="car-summary"></a>
  </div>
</div>




<!--<html>-->
<!--<body>-->
<!--<h2 class="city">Driver</h2>-->
<!--<p>Drivers details.</p>-->
<!--<h2 class="city">Passenger</h2>-->
<!--<p>Passenger details.</p>-->
<!--<h2 class="city">summary</h2>-->
<!--<p>Summary details.</p>-->
<!--</body>-->
<!--</html>-->
<!--<input type="submit" value="Submit">-->

<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->
